@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="light-blue">
    <h1>@ViewData["Title"]</h1>
    <p>Use this page to detail your site's privacy policy.</p>
</div>
<div class="text-right">
    <a asp-controller="Estabelecimentos" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
